In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
gmaps.configure(api_key = g_key)

In [4]:
#  Heatmap of Tempature
locations = city_data_df[['Lat','Lng']]

max_temp = city_data_df['Max Temp']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)

# 4. Assign the heatmap layer variable to the heatmap layer attribute and add in locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
#  Heatmap of Humidity
locations = city_data_df[['Lat','Lng']]

humidity = city_data_df['Humidity']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)

# 4. Assign the heatmap layer variable to the heatmap layer attribute and add in locations
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#  Heatmap of Humidity
locations = city_data_df[['Lat','Lng']]

clouds = city_data_df['Cloudiness']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)

# 4. Assign the heatmap layer variable to the heatmap layer attribute and add in locations
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#  Heatmap of Humidity
locations = city_data_df[['Lat','Lng']]

wind_speed = city_data_df['Wind Speed']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)

# 4. Assign the heatmap layer variable to the heatmap layer attribute and add in locations
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed,
                                 dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
prferred_citites_df = city_data_df .loc[(city_data_df['Max Temp'] <= max_temp) & 
                                       (city_data_df['Max Temp'] >= min_temp)]

prferred_citites_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Kapaa,US,2022-11-19 16:03:39,22.0752,-159.3190,75.52,88,40,19.57
13,13,Atuona,PF,2022-11-19 16:03:40,-9.8000,-139.0333,76.84,73,40,11.81
15,15,Swedru,GH,2022-11-19 16:03:41,5.5371,-0.6998,84.49,62,82,10.20
19,19,Butaritari,KI,2022-11-19 16:03:42,3.0707,172.7902,81.16,74,95,16.37
20,20,Cockburn Town,TC,2022-11-19 16:03:42,21.4612,-71.1419,81.10,74,100,19.66
30,30,Lorengau,PG,2022-11-19 16:03:45,-2.0226,147.2712,81.14,73,99,7.58
34,34,Port Keats,AU,2022-11-19 16:03:47,-14.2500,129.5500,81.28,82,100,8.43
37,37,Melo,UY,2022-11-19 16:03:48,-32.3667,-54.1833,86.45,41,34,7.87
46,46,Sao Filipe,CV,2022-11-19 16:04:51,14.8961,-24.4956,80.35,60,63,11.14
47,47,Fort Myers Beach,US,2022-11-19 16:04:17,26.4520,-81.9481,76.01,68,0,12.66

In [10]:
prferred_citites_df = prferred_citites_df.dropna()
prferred_citites_df.count()

City_ID       145
City          145
Country       145
Date          145
Lat           145
Lng           145
Max Temp      145
Humidity      145
Cloudiness    145
Wind Speed    145
dtype: int64

In [11]:
hotel_df = prferred_citites_df[['City','Country', 'Max Temp', 'Lat','Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
11             Kapaa      US     75.52  22.0752 -159.3190
13            Atuona      PF     76.84  -9.8000 -139.0333
15            Swedru      GH     84.49   5.5371   -0.6998
19        Butaritari      KI     81.16   3.0707  172.7902
20     Cockburn Town      TC     81.10  21.4612  -71.1419
30          Lorengau      PG     81.14  -2.0226  147.2712
34        Port Keats      AU     81.28 -14.2500  129.5500
37              Melo      UY     86.45 -32.3667  -54.1833
46        Sao Filipe      CV     80.35  14.8961  -24.4956
47  Fort Myers Beach      US     76.01  26.4520  -81.9481

In [12]:
params = {'radius':5000,
         'type': 'lodging',
         'key':g_key}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    
    except (IndexError):
        print('Hotel not found...skipping.')

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,Atuona,PF,76.84,-9.8000,-139.0333,Villa Enata
15,Swedru,GH,84.49,5.5371,-0.6998,Emma-Ike Guesthouse
19,Butaritari,KI,81.16,3.0707,172.7902,Isles Sunset Lodge
20,Cockburn Town,TC,81.10,21.4612,-71.1419,Osprey Beach Hotel
30,Lorengau,PG,81.14,-2.0226,147.2712,Lorengau Harbourside Hotel
34,Port Keats,AU,81.28,-14.2500,129.5500,Kardu Durrikardu Numida Hostel
37,Melo,UY,86.45,-32.3667,-54.1833,Hotel Juana
46,Sao Filipe,CV,80.35,14.8961,-24.4956,Hotel Xaguate
47,Fort Myers Beach,US,76.01,26.4520,-81.9481,Lani Kai Island Resort

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [16]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Heatmap of Tempature for the vacation spots
locations = hotel_df[['Lat','Lng']]

max_temp = hotel_df['Max Temp']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap layer variable to the heatmap layer attribute and add in locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
#Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of Tempature for the vacation spots and pop up marker for each city
locations = hotel_df[['Lat','Lng']]

max_temp = hotel_df['Max Temp']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap layer variable to the heatmap layer attribute and add in locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the heatmap & marker layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))