# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,New Norfolk,AU,-42.7826,147.0587,46.92,70,44,8.01,scattered clouds
1,1,Chuy,UY,-33.6971,-53.4616,80.06,59,65,12.82,broken clouds
2,2,Albany,US,42.6001,-73.9662,33.39,46,56,3.00,broken clouds
3,3,Nikolskoye,RU,59.7035,30.7861,24.69,97,91,4.03,overcast clouds
4,4,Fort Nelson,CA,58.8053,-122.7002,21.94,77,75,0.00,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input('What is the minimum temperature you would like for your trip? '))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df .loc[(city_data_df['Max Temp'] <= max_temp) & 
                                       (city_data_df['Max Temp'] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Chuy,UY,-33.6971,-53.4616,80.06,59,65,12.82,broken clouds
6,6,Hilo,US,19.7297,-155.0900,77.61,94,75,4.61,moderate rain
10,10,Rocha,UY,-34.4833,-54.3333,87.64,45,12,12.84,few clouds
11,11,Cabo San Lucas,MX,22.8909,-109.9124,82.62,61,20,8.05,few clouds
17,17,Kapaa,US,22.0752,-159.3190,77.32,79,40,17.27,scattered clouds
23,23,Puerto Ayora,EC,-0.7393,-90.3518,78.76,93,100,8.01,overcast clouds
24,24,Alofi,NU,-19.0595,-169.9187,75.09,94,47,9.22,scattered clouds
28,28,Kieta,PG,-6.2167,155.6333,78.19,82,48,2.44,scattered clouds
29,29,Balikpapan,ID,-1.2675,116.8289,77.99,94,75,0.00,moderate rain
35,35,Acari,PE,-15.4311,-74.6158,78.67,46,98,12.01,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()
# Display sample data
clean_travel_cities_df.head(10)

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Chuy,UY,-33.6971,-53.4616,80.06,59,65,12.82,broken clouds
6,6,Hilo,US,19.7297,-155.0900,77.61,94,75,4.61,moderate rain
10,10,Rocha,UY,-34.4833,-54.3333,87.64,45,12,12.84,few clouds
11,11,Cabo San Lucas,MX,22.8909,-109.9124,82.62,61,20,8.05,few clouds
17,17,Kapaa,US,22.0752,-159.3190,77.32,79,40,17.27,scattered clouds
23,23,Puerto Ayora,EC,-0.7393,-90.3518,78.76,93,100,8.01,overcast clouds
24,24,Alofi,NU,-19.0595,-169.9187,75.09,94,47,9.22,scattered clouds
28,28,Kieta,PG,-6.2167,155.6333,78.19,82,48,2.44,scattered clouds
29,29,Balikpapan,ID,-1.2675,116.8289,77.99,94,75,0.00,moderate rain
35,35,Acari,PE,-15.4311,-74.6158,78.67,46,98,12.01,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]]

# Display sample data
hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
1             Chuy      UY     80.06       broken clouds -33.6971  -53.4616
6             Hilo      US     77.61       moderate rain  19.7297 -155.0900
10           Rocha      UY     87.64          few clouds -34.4833  -54.3333
11  Cabo San Lucas      MX     82.62          few clouds  22.8909 -109.9124
17           Kapaa      US     77.32    scattered clouds  22.0752 -159.3190
23    Puerto Ayora      EC     78.76     overcast clouds  -0.7393  -90.3518
24           Alofi      NU     75.09    scattered clouds -19.0595 -169.9187
28           Kieta      PG     78.19    scattered clouds  -6.2167  155.6333
29      Balikpapan      ID     77.99       moderate rain  -1.2675  116.8289
35           Acari      PE     78.67     overcast clouds -15.4311  -74.6158

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ''

# Display sample data
hotel_df.head()

C:\Users\whrzl\AppData\Local\Temp\ipykernel_4924\699132277.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'] = ''

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Chuy,UY,80.06,broken clouds,-33.6971,-53.4616,
6,Hilo,US,77.61,moderate rain,19.7297,-155.0900,
10,Rocha,UY,87.64,few clouds,-34.4833,-54.3333,
11,Cabo San Lucas,MX,82.62,few clouds,22.8909,-109.9124,
17,Kapaa,US,77.32,scattered clouds,22.0752,-159.3190,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Chuy,UY,80.06,broken clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
6,Hilo,US,77.61,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Rocha,UY,87.64,few clouds,-34.4833,-54.3333,Hotel Arrarte
11,Cabo San Lucas,MX,82.62,few clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
17,Kapaa,US,77.32,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Puerto Ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
24,Alofi,NU,75.09,scattered clouds,-19.0595,-169.9187,Taloa Heights
28,Kieta,PG,78.19,scattered clouds,-6.2167,155.6333,Uruna Bay Retreat
29,Balikpapan,ID,77.99,moderate rain,-1.2675,116.8289,Swiss-Belhotel Balikpapan
35,Acari,PE,78.67,overcast clouds,-15.4311,-74.6158,HOSPEDAJE XIMENA

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Chuy,UY,80.06,broken clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
6,Hilo,US,77.61,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Rocha,UY,87.64,few clouds,-34.4833,-54.3333,Hotel Arrarte
11,Cabo San Lucas,MX,82.62,few clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
17,Kapaa,US,77.32,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Puerto Ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
24,Alofi,NU,75.09,scattered clouds,-19.0595,-169.9187,Taloa Heights
28,Kieta,PG,78.19,scattered clouds,-6.2167,155.6333,Uruna Bay Retreat
29,Balikpapan,ID,77.99,moderate rain,-1.2675,116.8289,Swiss-Belhotel Balikpapan
35,Acari,PE,78.67,overcast clouds,-15.4311,-74.6158,HOSPEDAJE XIMENA

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [12]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label='WeatherPy_vacation')

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [13]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [14]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Nuevo Hotel Plaza</dd>\n<dt>City</dt><dd>Chuy</dd>\n<dt>Country</dt><dd>UY</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>moderate rain and 77.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Arrarte</dd>\n<dt>City</dt><dd>Rocha</dd>\n<dt>Country</dt><dd>UY</dd>\n<dt>Current Weather</dt><dd>few clouds and 87.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.32 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Taloa Heights</dd>\n<dt>City</dt><dd>Alofi</dd>\n<dt>Country</dt><dd>NU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 75.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Uruna Bay Retreat</dd>\n<dt>City</dt><dd>Kieta</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Swiss-Belhotel Balikpapan</dd>\n<dt>City</dt><dd>Balikpapan</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>moderate rain and 77.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HOSPEDAJE XIMENA</dd>\n<dt>City</dt><dd>Acari</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.67 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [15]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1  -33.6971  -53.4616
6   19.7297 -155.0900
10 -34.4833  -54.3333
11  22.8909 -109.9124
17  22.0752 -159.3190
23  -0.7393  -90.3518
24 -19.0595 -169.9187
28  -6.2167  155.6333
29  -1.2675  116.8289
35 -15.4311  -74.6158

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [16]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))